/* Loader.css */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  background-color: rgba(0, 0, 0, 0.1); /* Light overlay effect */
}

.loader-icon {
  font-size: 3rem; /* Adjust size */
  color: #007bff; /* Blue color */
}
